.main_app {
  margin-top: 60px;
}

.main_app h2 {
  width: 100%;
  text-align: center;
}

.journal {
  margin-bottom: 20px;
}

.journal div {
  margin-top: 20px;
}

.journal div img {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
}
